body {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.calendar {
  background-color: blue;
  padding: 10px;
  border: 1px solid red;
}

.custom-input {
  background-color: blueviolet;
  padding: 10px;
  border: 1px solid red;
}